#Data Structure Theory

1. What are data structures, and why are they important?

ans- Data structures are specialized formats for organizing and storing data in computers. They're like blueprints for how data is arranged and accessed, significantly influencing the efficiency and effectiveness of algorithms.

Data structure is important because they are efitient, organized, poblem solving and they are the foundation of advanced concept.

2. Explain the difference between mutable and immutable data types with examples.

ans- Mutable Data Types - Mutable data types can be modified after they are created. Changes made to a mutable object directly affect the original object.

i.g. Lists
      my_list = [1, 2, 3]
my_list[0] = 0  
##Modifies the list in-place
print(my_list)  
##Output: [0, 2, 3]

  Immutable Data Types - Immutable data types cannot be changed after they are created. Any operation that appears to modify an immutable object actually creates a new object with1 the desired changes.
  
i.g. Numbers (int, float, complex)
      x = 5
x = x + 1
##Creates a new integer object with the value 6
print(x)
##Output: 6

3. What are the main differences between lists and tuples in Python?

ans- Lists are mutable and tuples are immutable.

4. Describe how dictionaries store data?

ans- How Dictionaries Store Data

At their core, dictionaries use a technique called hashing to store and retrieve data. Here's a simplified breakdown:

Hash Function:

When you create a dictionary, Python uses a hash function to convert each key into a unique integer value called a hash value.
This hash value is used to determine the location where the key-value pair will be stored within the dictionary's internal structure.
Hash Table:

Python's dictionaries are typically implemented using a data structure called a hash table.
A hash table is an array-like structure where each index can hold multiple key-value pairs.
Collision Handling:

Sometimes, different keys can produce the same hash value, leading to a "collision."
Python uses various techniques to handle collisions, such as:
Chaining: Storing multiple key-value pairs in the same bucket as a linked list.
Open Addressing: Finding the next available empty bucket to store the colliding pair.

5. Why might you use a set instead of a list in Python?

ans- set are unique, have set operations, and performance.

6. What is a string in Python, and how is it different from a list?

ans- Definition: A sequence of characters enclosed within single or double quotes (e.g., 'hello', "world").
Data Type: Represents textual information.
Key Characteristics:
Immutable: Once created, a string cannot be changed directly. Any operation that seems to modify a string actually creates a new string.
Unicode-based: Can represent characters from various languages and scripts.
Indexing and Slicing: Individual characters or substrings can be accessed using indexing (starting from 0) and slicing.
Rich set of methods: Many built-in methods for string manipulation (e.g., upper(), lower(), find(), replace()).
List

Definition: An ordered, mutable collection of items.
Data Type: Can hold elements of any data type (integers, floats, strings, other lists, etc.).
Key Characteristics:
Mutable: Can be modified after creation (add, remove, change elements).
Ordered: Maintains the order of insertion.
Heterogeneous: Can contain elements of different data types.
Versatile: Widely used for various tasks like storing data, organizing information, and performing operations on collections.

7. How do tuples ensure data integrity in Python?

ans- Tuples in Python ensure data integrity primarily through their immutability. This means that once a tuple is created, its elements cannot be changed, added, or removed.

8. What is a hash table, and how does it relate to dictionaries in Python?

ans- Hash Tables: A Foundation for Efficient Data Retrieval

A hash table is a data structure that uses a hash function to map keys to specific locations (indices) within an array. This allows for incredibly fast lookups of values associated with those keys.

Hash Tables and Python Dictionaries

Python dictionaries are implemented using hash tables under the hood.

Fast Lookups: Dictionaries provide extremely fast access to values based on their keys, thanks to the efficient hashing mechanism.
Unordered: The order of items in a dictionary is not guaranteed because the hash function determines their placement.
Keys Must Be Hashable: Keys in a dictionary must be immutable (e.g., numbers, strings, tuples) because the hash function needs to generate a consistent hash code for each key.

9. Can lists contain different data types in Python?

ans- Yes, lists in Python can contain elements of different data types.

10. Explain why strings are immutable in Python?

ans- Strings in Python are immutable beacuase they are efficient, theat safety, dictionaries keys, and Predictability and Debugging.

11. What advantages do dictionaries offer over lists for certain tasks?

ans- Dictionaries offer several advantages over lists in certain situations:

  1. Fast Lookups:

Hashing: Dictionaries are implemented using hash tables, which allow for very fast lookups of values based on their keys.
Lists: To find a specific value in a list, you often need to iterate through the entire list, which can be time-consuming, especially for large lists.
  2. Key-Value Association:

Dictionaries: Store data in key-value pairs, making it easy to associate information with specific identifiers.
Lists: Store data sequentially, and you might need to use additional logic to associate values with specific keys.
  3. Uniqueness (for keys):

Dictionaries: Keys within a dictionary must be unique. This can be helpful for ensuring that data is not duplicated.
Lists: Can contain duplicate values.
  4. Flexibility:

Dictionaries: Can store a wide variety of data types as values, making them highly versatile for representing complex data structures.

12. Describe a scenario where using a tuple would be preferable over a list.

ans- Using a tuple to store them offers several advantages:
      Immutability, Readability, Performance.

13. How do sets handle duplicate values in Python?

ans- sets handle duplicate values in Python by Uniqueness and  Duplicate Removals.

14. How does the “in” keyword work differently for lists and dictionaries?

ans- Lists :-
        my_list = [1, 2, 3, 4, 5]
if 3 in my_list:
    print("3 is in the list")

dictionaries :-
    my_dict = {"name": "Alice", "age": 30}
if "name" in my_dict:
    print("The key 'name' exists in the dictionary")

15. Can you modify the elements of a tuple? Explain why or why not.

ans- No, you cannot directly modify the elements of a tuple in Python.

Why?

Immutability: Tuples are designed to be immutable, meaning their contents cannot be changed after they are created. This is a fundamental characteristic of tuples.

Consequences of Modification: If tuples were mutable, it could lead to unexpected behavior and potential errors in programs, especially in scenarios where the integrity of the data within the tuple is crucial.

16. What is a nested dictionary, and give an example of its use case?

ans- Nested Dictionary

In Python, a nested dictionary is a dictionary where the values themselves are also dictionaries. This creates a hierarchical structure, allowing you to represent complex, multi-level data.

student_data = {
    "student1": {
        "name": "Alice",
        "age": 25,
        "grades": {"Math": 90, "Science": 85}
    },
    "student2": {
        "name": "Bob",
        "age": 22,
        "grades": {"Math": 88, "History": 92}
    }
}

17. Describe the time complexity of accessing elements in a dictionary.

ans - The time complexity of accessing elements in a Python dictionary is typically O(1), which means it's constant time.

18. In what situations are lists preferred over dictionaries.

ans- Maintaining Order, Allowing Duplicates, Efficient Indexing and Slicing, When Keys Are Not Applicable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

ans- Dictionaries in Python are considered unordered because they don't guarantee any specific order for the key-value pairs. This means that when you iterate over a dictionary (for example, using a for loop), the order in which the key-value pairs are processed is not predictable.

  How does this affect data retrieval?
  No reliance on order
  Focus on keys

20. Explain the difference between a list and a dictionary in terms of data retrieval.

ans- Data Retrieval: Lists vs. Dictionaries

Lists:

Access by Index: Elements in a list are accessed using their numerical index (starting from 0).
my_list = [10, 20, 30]
first_element = my_list[0] # Accesses the first element (10)

Linear Search: To find a specific value, Python needs to iterate through the list, comparing each element to the target value. This can be time-consuming for large lists.
Time Complexity: In the worst case, finding a value in a list has a time complexity of O(n), where 'n' is the number of elements in the list.
Dictionaries:

Access by Key: Elements in a dictionary are accessed using their unique keys.
my_dict = {"name": "Alice", "age": 30}
name = my_dict["name"] # Accesses the value associated with the key "name"

Hashing: Dictionaries are implemented using hash tables, which allow for very fast lookups of values based on their keys.
Time Complexity: The average time complexity for accessing a value in a dictionary is O(1), meaning it takes constant time regardless of the size of the dictionary.


'Practical Questions.

1. Write a code to create a string with your name and print it.

In [ ]:
my_name = "Gemini"
print(my_name)

Gemini

2. Write a code to find the length of the string "Hello World"

In [ ]:
my_string = "Hello World"
length = len(my_string)
print(f"The length of the string is: {length}")

The length of the string is: 11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

4. Write a code to convert the string "hello" to uppercase

In [ ]:
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
# Create the list
my_list = [1, 2, 3, 4, 5]

# Print the list
print(my_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
# Create a tuple
my_tuple = (10, 20, 30)

# Print the tuple
print(my_tuple)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2)
count_of_two = my_tuple.count(2)
print(f"The number 2 appears {count_of_two} times in the tuple.")

The number 2 appears 3 times in the tuple.

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(f"The index of 'cat' is: {index_of_cat}")

The index of 'cat' is: 1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
my_tuple = ('apple', 'orange', 'banana')

if 'banana' in my_tuple:
  print("banana is in the tuple")
else:
  print("banana is not in the tuple")

banana is in the tuple

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

19.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

20.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2)
count_of_two = my_tuple.count(2)
print(f"The number 2 appears {count_of_two} times in the tuple.")

The number 2 appears 3 times in the tuple.

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(f"The index of 'cat' is: {index_of_cat}")

The index of 'cat' is: 1

Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
my_tuple = ('apple', 'orange', 'banana')

if 'banana' in my_tuple:
  print("banana is in the tuple")
else:
  print("banana is not in the tuple")

banana is in the tuple

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.:

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}